# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 66e6a8f085040682b8c29a2116b174d259f4a4abfbbef841bdae0849436fd8b3dbfcd990235d8144cb6daddc0a9fb25bde309cb1ecffbddfa1b579db79ff4975

test:
  secret_key_base: ea7a2cd81b709d2db85aaae415eaa3ec7fd936c2641894a2404afc35d135cc0dd2fc75be43170bd432f6c61da64939a71a71fb49a83208a45b49538c4f17c719

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
